body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    background-color: #eff7e3;
}
h1 {
    font-size: 2em;
}
p {
    font-size: 1em;
}
button {
    border-radius: 1em;
    padding: 0.3em 1em;
    margin: 1em;
    min-width: 7em;
}
button:enabled {
    background-color: #a8e6cf;
}
button:disabled {
    background-color: #cdcdcd;
}

button.playerTwo:enabled {
    background-color: #ffaaa5 !important;
}

form {
    display: inline-block;
}
#start-button {
    display: inline-block;
}
#instructions {
    display: inline;
    text-decoration: none;
}
#playerNumber {
    display: inline;
}
#rules {
    display: inline;
    text-decoration: none;
}

a {
    text-decoration: none;
}